version: "3.8"

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRESQL_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRES_DB: ${POSTGRESQL_DB_NAME}
    ports:
      - "${POSTGRESQL_PORT}:5432"
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8001:8080"
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge