version: "3.8"

services:
  postgres:
    image: postgres
    ports:
      - "${POSTGRESQL_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRESQL_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRES_DB: ${POSTGRESQL_DB_NAME}
    networks:
      - app-network

  app:
    build:
      context: .
      args:
        APP_ENV: prod
    command: bash -c "uv run alembic upgrade head && uv run uvicorn main:app --host 0.0.0.0 --port 8080"
    ports:
      - "8088:8080"
    volumes:
      - .:/code
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy

networks:
  app-network:
    driver: bridge